:root {
    --bs-success: #0db93e;
}

.bg-success {
    background-color: #0db93e;
  }

/* Colors */
.bg-black {
    background-color: black;
} 

/* Carousel */
.overlay-dark {
    filter: brightness(30%);
}
.carousel-caption-modified {
    z-index: 2;
}
.text-outline {
    color: transparent;
    font-size: 60px;
    -webkit-text-stroke: 1px white;
    font-weight: 900;
}
.carousel-caption--bold {
    font-weight: 900;
    font-size: 50px;
}
.fs-small {
    font-size: 13px;
}
.indicator--round {
    height: 15px;
    width: 15px;
}

/* Popular Exercise */
@media screen and (min-width: 760px) {
    .card-grid-modified {
        height: 20rem
    }
    .card-modified {
        width: 18rem;
    }
}