:root {
    --primary: #0db93e;
}
::placeholder {
    font-size: small;
}

/* Bootstrap overide */
.btn-outline-success {
    color: var(--primary);
    border-color: var(--primary);
}
.btn-outline-success:hover {
    color: #fff;
    background-color: var(--primary);
    border-color: var(--primary);
}
.text-success {
    color: var(--primary) !important;
}
.container {
    overflow: hidden;
}
.form-check-input:focus {
    border-color: var(--primary);
}
.form-check-input:checked {
    background-color: var(--primary);
    border-color: var(--primary);
}
.btn-success {
    color: #fff;
    background-color: var(--primary);
    border-color: none;
}
.btn-success:hover {
    color: var(--primary);
    background: none;
    border-color: var(--primary);
}

/* Colors */
.bg-black {
    background-color: black;
} 
.bg-green {
    background-color: var(--primary) !important;
}

/* Nav bar */
.navbar-brand-modified {
    max-width: 5rem;
}

@media screen and (min-width: 760px) {
    .navbar-brand-modified {
        max-width: 8rem;
    }
}

/* Carousel */
.overlay-dark {
    filter: brightness(30%);
}
.carousel-caption-modified {
    z-index: 2;
}
.text-outline {
    color: transparent;
    font-size: 60px;
    -webkit-text-stroke: 1px white;
    font-weight: 900;
}
.carousel-caption--bold {
    font-weight: 900;
    font-size: 50px;
}
.fs-small {
    font-size: 13px;
}
.indicator--round {
    height: 15px;
    width: 15px;
}

/* Popular Exercise */
@media screen and (min-width: 760px) {
    .card-grid-modified {
        height: 20rem
    }
    .card-modified {
        width: 18rem;
    }
}



/* Backgrounds */
.background-img {
    min-width: 100vw;
    max-height: 100%;
    z-index: -1;
}
@media screen and (min-width: 1024px) {
    .background-img {
        max-width: 100vw;
        max-height: none;
    }
}

.background-img-short {
    /* The image used */
    background-image: url("/img/booking-hero-image.png");
  
    /* Full height */
    height: 100%;
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.background-img-short-container {
    width: 100vw; 
    height: 50vw;
    max-height: 50vw
}
@media screen and (min-width: 760px) {
    .background-img-short-container {
        max-height: 40vw;
    }
}